<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的博客</title>
    <link href="../../public/css/about.css" rel="stylesheet" type="text/css">
    <link href="../../public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="header">
    <div id="hide-bg"></div>
    <div id="nav" class="area">
        <span>Blog</span>
        <div id="menu">
            <ul id="menu_list">
                <li><a href="../main/index.html">HOME</a></li>
                <li><a href="../admin/about.html">ABOUT</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="javascript:login();">LOGIN</a></li>
            </ul>
            <div id="list">
                <div class="box1"></div>
                <div class="box2"></div>
            </div>
        </div>
    </div>
    <div id="home">

    </div>
</div>
<script src="../../public/js/jquery-1.12.4.min.js"></script>
<script src="../../public/js/index.js"></script>
</body>
</html>