<div class="blog-post-thumb">
    {%for content in contents%}
    <div class="blog-post-image">
        <a href=""><img src="{{content.photo}}" /></a>
    </div>
    <div class="blog-post-title">
        <h3>
            <a href="">{{content.title}}</a>
        </h3>
    </div>
    <div class="blog-post-format">
                    <span>
                        <a href=""><img src="../../public/images/author-image1.jpg" class="img-circle" />
                            {{content.nickname}}
                        </a>
                    </span>
                    <span>
                        <i class="fa fa-date"></i>
                        {{content.addTime|date('Y年m月d日 H:i:s')}}
                    </span>
                    <span>
                        <a href="">
                            <i class="fa fa-comment-o"></i>
                            {% if content.comments %}
                            {{content.comments}}
                            {%else%}
                            0
                            {%endif%}
                        </a>
                    </span>
                    <span>
                            <img id="img2" src="../../public/images/view.png" />
                        {% if content.views %}
                        {{content.views}}
                        {%else%}
                        0
                        {%endif%}
                    </span>
    </div>
    <div class="blog-post-des">
        <p>
            {{content.description}}
        </p>
        <a href="/view?cid={{content.cid}}" class="btn btn-default">Continue Reading</a>
    </div>
    {%endfor%}
</div>